@media (max-width: 1240px) {
	.navbar {
		padding: 30px;
	}

	.hero__tagline-decorated {
		font-size: 80px;
	}

	.hero__tagline-small {
		font-size: 30px;
	}
}

@media (max-width: 1020px) {
	.about__content {
		flex-direction: column;
	}

	.about__text {
		width: 100%;
		height: min-content;
	}
}

@media (max-width: 860px) {
	.accordion__title {
		padding: 20px;
	}

	.hero {
		position: relative;
	}

	.hero::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 0;
	}

	.header,
	.hero__container {
		position: relative;
		z-index: 2;
	}
}

.header__navbar-hamburger {
	display: none;
}

.navbar_mobile {
	display: none;
}

@media (max-width: 760px) {
	.section__title-diamond,
	.hero__tagline-diamond {
		translate: 0 -1px;
	}

	.hero {
		display: flex;
		flex-direction: column;
	}

	.hero__container {
		height: unset;
		min-height: unset;
		text-align: center;
	}

	.header {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		padding: 10px;
		z-index: 3;
	}

	.logo {
		grid-column: 1;
	}

	.header__hamburger {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		cursor: pointer;
		gap: 10px;
		grid-column: 2;
		transition: gap 0.2s ease-in-out 0.2s; 
	}
	
	.header__hamburger_active {
		gap: 0;
		transition: gap 0s ease-in-out 0s;
	}
	
	.header__hamburger-line {
		width: 40px;
		height: 3px;
		background-color: #ffffff;
		transform: rotate(0) translateX(0);
		transition: transform 0.2s ease-in-out, opacity 0s ease-in-out 0.2s;
	}
	
	.header__hamburger_active .header__hamburger-line {
		transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
	}
	
	.header__hamburger_active .header__hamburger-line:nth-child(1) {
		transform: rotate(-45deg) translateX(-3px);
	}
	
	.header__hamburger_active .header__hamburger-line:nth-child(2) {
		opacity: 0;
	}
	
	.header__hamburger_active .header__hamburger-line:nth-child(3) {
		transform: rotate(45deg) translateX(-3px);
	}

	.navbar {
		display: none;
	}
	
	.navbar_mobile {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: fixed;
		margin: 0;
		top: 15%;
		left: 15%;
		width: 70%;
		height: 70%;
		background-color: #2d2518;
		z-index: 999;
		border-radius: 10px;
		translate: 0 130%;
		transition: translate 0.2s ease-in;
	}

	.navbar_mobile_active {
		translate: 0 0;
		transition: translate 0.2s ease-out;
	}

	.navbar__menu {
		gap: 30px;
	}
}

@media (max-width: 685px) {
	body {
		font-size: 18px;
		/* ffCo */
	}

	.accordion__title {
		padding: 8px 13px;
	}

	.section__title {
		font-size: 40px;
	}

	.section__title-diamond {
		font-size: 30px;
		translate: 0;
	}

	.container {
		padding: 30px 20px;
	}

	.hero__container {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.hero__tagline {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.hero__tagline-decorated {
		font-size: 50px;
		line-height: 1;
	}

	.hero__tagline-small {
		font-size: 20px;
	}

	.hero__tagline-diamond {
		font-size: 30px;
		translate: 0;
	}

	.contacts {
		font-size: 25px;
	}

	.contacts__social-icon {
		width: 40px;
		height: 40px;
	}
}

@media (max-width: 640px) {
	.footer__container {
		grid-template-columns: repeat(2, 1fr);
		align-content: space-between;
	}

	.footer__copyright,
	.footer__developer {
		grid-column: unset;
	}

	.footer__developer {
		justify-self: end;
		align-self: center;
		font-size: 14px;
	}
}

@media (max-width: 580px) {
	.section__title-wrapper {
		width: 80%;
	}

	.navbar_mobile {
		top: 20%;
	}
	
	.navbar_mobile:not(.navbar_mobile_active) {
		translate: 0 115%;
	}

	.section__title-decoration {
		--width: 80%;
	}
}

@media (max-width: 470px) {
	.logo {
		width: 60px;
	}

	.accordion__title {
		border-radius: 10px;
	}

	.hero__tagline-decoration {
		--width: 100%;
	}

	.about__image {
		width: 90%;
		height: 300px;
		object-fit: cover;
	}

	.about__text {
		width: 90%;
	}

	.portfolio__card {
		width: 90%;
	}

	.portfolio__card-description {
		padding: 10px;
		min-height: 50px;
	}

	.portfolio__card-title {
		font-size: 18px;
	}

	.portfolio__card-text {
		font-size: 14px;
	}
}

@media (max-width: 400px) {
	.section__title {
		font-size: 35px;
	}

	.contacts__grid {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 10px;
	}

	.footer__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 5px;
	}
}