.translating {
	display: none;
}

.language-switcher {
	position: fixed;
	top: 20px;
	right: 20px;
	border: none;
	outline: none;
	appearance: none;
	background-color: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(8px);
	color: #fff;
	padding: 10px;
	border-radius: 8px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	font-size: 18px;
	line-height: 18px;
	z-index: 99;
	width: 85px;
}

.language-switcher:hover {
	background-color: rgba(0, 0, 0, 0.7);
}

.language-switcher:active {
	background-color: rgba(0, 0, 0, 0.9);
}